<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>utilisateur Info</title>
<link rel="stylesheet" th:href="@{css/utilisateurinfo.css}" />
</head>
<body>

	<div>
		<h1 th:text="${utilisateur.nom}"></h1>
		<h1 th:text="${utilisateur.prenom}"></h1>

		<img alt="une image" th:src="${utilisateur.photo}" />

		<div class="info">
			<p th:text="${utilisateur.email}"></p>
			<p th:text="${utilisateur.adresse}"></p>
			<p th:text="${utilisateur.phone}"></p>
			<p th:text="${utilisateur.numero}"></p>
		</div>
		<button ><a th:href="@{supprimer(id=${utilisateur.id})}">supprimer</a></button>
		<button ><a th:href="@{ajouter}">Ajouter</a></button>

	</div>

</body>
</html>